* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  margin: 96px auto;
  width:900px
}

.intro-chunk {
  width: 40%;
}

strong {
  color: hsl(160deg, 100%, 30%)
}